/* CSS here */

body{font-family: 'Roboto', sans-serif; font-size:16px;}
a{text-decoration: none; color:inherit;}
section{margin:5vh 0;}
h1{font-weight:700; font-size:24px; margin:5px 0;}
h2{font-weight:700; font-size:18px; margin:5px 0;}

/* Nav Styling */
.top-nav li, .sticky li{display:inline-block;}
.top-nav li a{padding:10px 20px; display:inline-block;}
.main-nav li a{padding:15px 20px; display:inline-block;}
.top-nav{background:#333; color:white;}
.main-nav{background:white; color:#777;}
.message{background:yellow; padding:10px;}
.sticky{position:sticky; top:0; width:100%; z-index:2;}


/* Layout */
main{}
.top-content{display:flex; height:50vh;}
.top-content > div:first-child{flex:2; background:green;}
.top-content > div:last-child{flex:1; background:pink; display:flex; flex-direction: column;}
.top-content > div:last-child > div{border:1px solid black; flex:1;}


.canvas {max-width: 1192px; margin: 0 auto;}

.grid4{display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between;}
.grid4 > div{width: 23%; box-sizing: border-box; margin-bottom:20px;}

.latest-news > div {}
.latest-news > div h1 {font-weight: bold; font-size: 2em; /*word-wrap: break-word;*/}
.latest-news > div img {max-width: 100%;}
.latest-news p{color:#555; margin-top:10px;}

.grid3{display: flex; flex-wrap: wrap; width: 100%; justify-content: center;}
.grid3 > div{width: 33%; box-sizing: border-box; border: 2px solid black; }


.funding-head {background-color: pink; position:relative;}
.funding-head > h1 {
	background-color: #f42; 
	padding:15px 0;
	padding-left:80px; 
	color: white; 
	font-weight: bold; 
	font-size: 20px; 
	}
.funding-head > h2 {padding-top: 10px;padding-left:80px;  }
.funding-head > p {padding-bottom: 10px; padding-left:80px; color:#999; font-size:.8em;}
.funding-head > img {position: absolute;width:60px; left:10px; top:15px;}
.funding h2 {font-weight: bold;}
.funding-cont{
	background-color: rgba(255,68,34,.08); 
	padding:20px 15px;
	color:#555;
	line-height:18px;
	font-size:.9em;
}









/* Mobile */

@media screen and (max-width: 1024px) {
	.grid4 {justify-content: space-around;}
	.grid4 > div {width: 31%;}

	.grid3 {justify-content: left;}
	.grid3 > div {width: 50%;}

	.funding > div:nth-child(4){display:none;}
}

@media screen and (max-width: 600px) {
	.top-content{flex-direction:column; background:red; height:auto;}
  	
  	.top-content > div:first-child{flex:0; height:30vh;}
	.top-content > div:last-child{flex:0; display:block;}
	.top-content > div:last-child > div{flex:0; height:30vh; border:1px solid red;}

	.grid4 {flex-direction: column;}
	.grid4 > div {width: 100%; flex-direction: row;}

	.latest-news > div img {float: left; width: 100px}
	.latest-news > div h1{padding-left: 125px; font-size:1em;}
	.latest-news > div p{padding-left: 125px;}

	.grid3 {flex-direction: column;}
	.grid3 > div {width: 100%;}

}