/* CSS here */

body{}
a{text-decoration: none; color:inherit;}
section{margin:5vh 0;}

/* Nav Styling */
.top-nav li, .sticky li{display:inline-block;}
.top-nav li a{padding:10px 20px; display:inline-block;}
.main-nav li a{padding:15px 20px; display:inline-block;}
.top-nav{background:#333; color:white;}
.main-nav{background:white; color:#777;}
.message{background:yellow; padding:10px;}
.sticky{position:sticky; top:0; width:100%;}


/* Layout */
main{}
.top-content{display:flex; height:50vh;}
.top-content > div:first-child{flex:2; background:green;}
.top-content > div:last-child{flex:1; background:pink; display:flex; flex-direction: column;}
.top-content > div:last-child > div{border:1px solid black; flex:1;}


.canvas {max-width: 1192px; margin: 0 auto;}

.grid4{display: flex; flex-wrap: wrap; width: 100%; justify-content: center;}
.grid4 > div{width: 25%; box-sizing: border-box; border: 2px solid black; }

.latest-news > div {padding: 20px; }
.latest-news > div h1 {font-weight: bold; font-size: 2em; /*word-wrap: break-word;*/}
.latest-news > div img {max-width: 100%;}


.grid3{display: flex; flex-wrap: wrap; width: 100%; justify-content: center;}
.grid3 > div{width: 33%; box-sizing: border-box; border: 2px solid black; }

.funding {background-color: #fffaf8;}
.funding-head {background-color: pink;}
.funding-head > h1 {background-color: red; color: white; font-weight: bold; font-size: 20px; padding: 5px 0;}
.funding-head > h2 {padding-top: 10px;}
.funding-head > p {padding-bottom: 10px;}
.funding-head > img {position: absolute;}
.funding h2 {font-weight: bold;}
.funding-cont{background-color: rgb(255, 227, 232);}









/* Mobile */

@media screen and (max-width: 1024px) {
	.grid4 {justify-content: left;}
	.grid4 > div {width: 33.33%;}

	.grid3 {justify-content: left;}
	.grid3 > div {width: 50%;}
}

@media screen and (max-width: 600px) {
	.top-content{flex-direction:column; background:red; height:auto;}
  	
  	.top-content > div:first-child{flex:0; height:30vh;}
	.top-content > div:last-child{flex:0; display:block;}
	.top-content > div:last-child > div{flex:0; height:30vh; border:1px solid red;}

	.grid4 {flex-direction: column;}
	.grid4 > div {width: 100%; flex-direction: row;}

	.latest-news > div img {float: left; width: 100px}
	.latest-news > div h1{padding-left: 125px; font-size:1em;}
	.latest-news > div p{padding-left: 125px;}

	.grid3 {flex-direction: column;}
	.grid3 > div {width: 100%;}

}